* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  font-family: 'Montserrat', sans-serif;
}
.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.photo{
  margin-top: 25px;
  height: 25%;
  width: 25%;
}

p{
  margin-top: 25px;
}

ul {
  display: inline-block;
}

body{
  background-color:white;
  color: #FF6B6B;
  list-style-position: inside;
}

h2{
  margin-top: 25px;
  color: #4ECDC4;;
}


.header1 {
  background-color: slategray;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  margin-top: 25px;
  color: #61dafb;
}

.tab-list {  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

button{
  padding: 8px 20px;
  margin-right: 8px;
  margin-top: 8px;
  border-radius: 4px;
  width: 150px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: slategray;
  color: white ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
